{
  "presets": [["@babel/preset-env", { "targets": { "node": "current"} }], "@babel/react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "tests": "./__tests__"
      },
      "cwd": "babelrc"
    }],
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-classes"
  ]
}
